<?xml version="1.0" encoding="utf-8"?>

<!--suppress ALL -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.yokey.example">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="MiuiDialog"
        android:theme="@style/Theme.Main"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
